.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 540px;
    height: 540px;
    gap: 10px;

}

.boxes{
    background-color: rgb(116, 98, 98);
    width: 173px;
    height: 173px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}